@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&family=Cinzel+Decorative:wght@700&display=swap');

body {
  background-color: #020617;
  color: #f8fafc;
  font-family: 'Outfit', sans-serif;
}

/* Font khusus nama yang modern & elegan */
.modern-name {
  font-family: 'Outfit', sans-serif;
  letter-spacing: -0.02em;
}

/* Font untuk title sertifikat */
.cert-header-font {
  font-family: 'Cinzel Decorative', serif;
}
