@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400;700&display=swap');

body {
  background-color: #0f172a;
  color: #1e293b;
  font-family: 'Montserrat', sans-serif;
}

.cert-title {
  font-family: 'Playfair Display', serif;
}
